In [112]:
#Download data from URL
import webget
import pandas as pd


url = 'https://raw.githubusercontent.com/PatrickFenger/pythonAssignments/master/KoreanConflict.csv'

response = webget.download(url)
print("File downloadet", response)

Vi er her - Klar til download
Downloading file to .\KoreanConflict.csv
File downloadet .\KoreanConflict.csv

In [113]:
#Read file
dataframe = pd.read_csv("KoreanConflict.csv")
#Print all content of file by removing # from print 
#print(dataframe)

In [114]:
#Q1: How many soldiers entered from a marine corps branch?
branch = dataframe['BRANCH']=='MARINE CORPS'

print(dataframe.groupby(branch).size())
print("ANSWER: 4509 soldiers entered from a Marine Corps")

BRANCH
False    32065
True      4509
dtype: int64
ANSWER: 4509 soldiers entered from a Marine Corps

In [115]:
# Q2: Which enrollment was the most common?
enrollment = dataframe['ENROLLMENT']

print(dataframe.groupby(enrollment).size())
print("ANSWER: The most common enrollment was ACTIVE - REGULAR with 23973")

ENROLLMENT
ACTIVE - GUARD/RESERVE     5089
ACTIVE - REGULAR          23973
SELECTED SERVICE           7512
dtype: int64
ANSWER: The most common enrollment was ACTIVE - REGULAR with 23973

In [116]:
# Q3: Was there an ethnicity majority throughout the war - If so, which?
et1 = dataframe['ETHNICITY']
et2 = dataframe['ETHNICITY_1']
et3 = dataframe['ETHNICITY_2']

print(dataframe.groupby(et1).size())
print(dataframe.groupby(et2).size())
print(dataframe.groupby(et3).size())

print("ANSWER: Yes there is an ethnicity majority: White")

ETHNICITY
AMERICAN INDIAN/ALASKA NATIVE                                                        3258
ASIAN  (ALL BUT USAR INCLUDE PACIFIC ISLANDER IN THIS CODE)                           235
BLACK OR AFRICAN AMERICAN                                                            3130
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER  (USAR SUBMITS F FOR PACIFIC ISLANDER)      142
WHITE                                                                               29405
dtype: int64
ETHNICITY_1
 ASIAN                                                                               3155
AMERICAN INDIAN/ALASKA NATIVE                                                           5
ASIAN  (ALL BUT USAR INCLUDE PACIFIC ISLANDER IN THIS CODE)                             3
BLACK OR AFRICAN AMERICAN                                                              40
CHINESE                                                                                18
HISPANIC OR LATINO                                                                     40
INDIAN TRIBES US                                                                      103
JAPANESE                                                                              198
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER  (USAR SUBMITS F FOR PACIFIC ISLANDER)        6
NOT SPECIFIED                                                                       32122
PUERTO RICAN                                                                          534
WHITE                                                                                 308
dtype: int64
ETHNICITY_2
 ASIAN                                                             4
 BLACK OR AFRICAN AMERICAN                                      3155
AMERICAN INDIAN/ALASKA NATIVE                                    103
ASIAN                                                            235
ASIAN  (ALL BUT USAR INCLUDE PACIFIC ISLANDER IN THIS CODE)        3
BLACK OR AFRICAN AMERICAN                                       3035
CHINESE                                                            1
HISPANIC ONE RACE                                                574
HISPANIC OR LATINO                                                 1
INDIAN TRIBES US                                                   1
JAPANESE                                                           2
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                        142
NOT SPECIFIED                                                    353
WHITE                                                          28965
dtype: int64
ANSWER: Yes there is an ethnicity majority: White

In [117]:
#Q4: Which division had the most casualties(tilskadekomne)?
division = dataframe['DIVISION'] #This is the row
fatality = dataframe['FATALITY'] #This is the column

print(pd.crosstab(division, fatality))
print('ANSWER: 1 MAR DIV had most casualties')

FATALITY                             ACCIDENT  DECEASED  DECLARED DEAD  \
DIVISION
 5 CAV                                      0         0              0
1 4.5 ROCKET BTRY 1 4.5 ROCKET BN F         1         0              0
1 ABN RANGER CO                             0         0              5
1 AIR DEL PLAT CMBT SERV CMD 1 MAR          0         0              0
1 AMPH TRAC BN FMF PAC                      0         0              1
1 AMPH TRUCK CO FMF PAC                     1         0              0
1 ANGLCO FMF PAC                            0         0              1
1 BN 1 MAR 1 MAR DIV                        3         0              2
1 BN 11 MAR 1 MAR DIV                       0         0              1
1 BN 5 MAR 1 MAR DIV                        0         0              0
1 BN 7 MAR 1 MAR DIV                        0         0              2
1 CAV DIV                                   0         0              1
1 CMBT SERV GR 1 MAR DIV                    0         0              0
1 ENGR BN 1 MAR DIV                         0         0              0
1 FA OBSN BN                                0         0              0
1 FTR INTCP SQ                              0         0              0
1 LOUDSP LEAF CO                            0         0              1
1 MAR 1 MAR DIV                             0         0              1
1 MAR AIR WING                              4         0              0
1 MAR DIV                                   8         0             24
1 MAR DIV                                   2         0              0
1 MAR DIV 7 MTR TRANS BN B CO               0         0              0
1 MAR DIV FMF                               0         0              0
1 MAR WING SERV SQ                          2         0              0
1 MASTER GND CONT INT 2 MAR AIR CON         1         0              0
1 MED BN 1 MAR DIV                          0         0              0
1 MOTOR T                                   0         0              1
1 ORD BN 1 MAR DIV                          0         0              0
1 ORD BOMB DISP DET                         0         0              0
1 PROV CASUAL CO FMF PAC                    0         0              0
...                                       ...       ...            ...
USS ULVERT M MOORE DE 442                   0         0              0
USS UNION AKA 106                           2         0              0
USS VALLEY FORGE CV 45                      2         0              3
USS WALKE DD 723                            0         0              0
USS WHETSTONE LSD 27                        1         0              0
USS WILTSIE DD 716                          1         0              0
VC 35 US NAVY                               1         0              0
VCA DRT 44 N                                0         0              1
VF 11 USS KEARSARGE CVS 33                  0         0              1
VF 172 USS ESSEX CV 9                       1         0              0
VF 192 USS PRINCETON  CV 37                 0         0              0
VF 54 USS ESSEX CV 9                        1         0              0
VF 61 USS BOXER CV 21                       0         0              1
VF 64 USS BOXER CV 21                       1         0              0
VF 821 USS PRINCETON CV 37                  1         0              0
VF 874                                      0         0              0
VMF 323 MAG 12                              0         0              0
VP 772 PATROL BOMB SQ                       4         0              0
WPNS CO 1                                   0         0              2
WPNS CO 1 BN 1 MAR 1 MAR DIV                0         0              0
WPNS CO 1 BN 5 MAR 1 MAR DIV                2         0              0
WPNS CO 1 BN 7 MAR 1 MAR DIV                1         0              0
WPNS CO 2                                   0         0              3
WPNS CO 2 BN 1 MAR 1 MAR DIV                0         0              0
WPNS CO 2 BN 5 MAR 1 MAR DIV                0         0              0
WPNS CO 2 BN 7 MAR 1 MAR DIV                0         0              0
WPNS CO 3                                   0         0              3
WPNS CO 3 BN 1 MAR 1 MAR DIV                0         0              0
WPNS CO 3 BN 5 MAR 1 MAR DIV                0         0              0
WPNS CO 3 BN 7 MAR 1 MAR DIV                1         0              0

FATALITY                             DIED OF WOUNDS  H  KILLED IN ACTION  \
DIVISION
 5 CAV                                            0  0                 1
1 4.5 ROCKET BTRY 1 4.5 ROCKET BN F               1  0                 3
1 ABN RANGER CO                                   0  0                36
1 AIR DEL PLAT CMBT SERV CMD 1 MAR                0  0                 4
1 AMPH TRAC BN FMF PAC                            2  0                 4
1 AMPH TRUCK CO FMF PAC                           0  0                 0
1 ANGLCO FMF PAC                                  0  0                 0
1 BN 1 MAR 1 MAR DIV                             10  0                48
1 BN 11 MAR 1 MAR DIV                             0  0                 0
1 BN 5 MAR 1 MAR DIV                              1  0                 1
1 BN 7 MAR 1 MAR DIV                             11  0                54
1 CAV DIV                                         0  0                 0
1 CMBT SERV GR 1 MAR DIV                          0  0                 1
1 ENGR BN 1 MAR DIV                               0  0                 5
1 FA OBSN BN                                      3  0                 8
1 FTR INTCP SQ                                    0  0                 1
1 LOUDSP LEAF CO                                  0  0                 0
1 MAR 1 MAR DIV                                   3  0                10
1 MAR AIR WING                                    0  0                 0
1 MAR DIV                                        18  0               168
1 MAR DIV                                         4  0                35
1 MAR DIV 7 MTR TRANS BN B CO                     0  0                 1
1 MAR DIV FMF                                     0  0                 1
1 MAR WING SERV SQ                                0  0                 0
1 MASTER GND CONT INT 2 MAR AIR CON               0  0                 3
1 MED BN 1 MAR DIV                                0  0                 2
1 MOTOR T                                         0  0                 0
1 ORD BN 1 MAR DIV                                0  0                 1
1 ORD BOMB DISP DET                               0  0                 3
1 PROV CASUAL CO FMF PAC                          1  0                 0
...                                             ... ..               ...
USS ULVERT M MOORE DE 442                         0  0                 1
USS UNION AKA 106                                 0  0                 0
USS VALLEY FORGE CV 45                            0  0                12
USS WALKE DD 723                                  0  0                25
USS WHETSTONE LSD 27                              0  0                 0
USS WILTSIE DD 716                                0  0                 0
VC 35 US NAVY                                     0  0                 0
VCA DRT 44 N                                      0  0                 0
VF 11 USS KEARSARGE CVS 33                        0  0                 0
VF 172 USS ESSEX CV 9                             0  0                 0
VF 192 USS PRINCETON  CV 37                       0  0                 1
VF 54 USS ESSEX CV 9                              0  0                 0
VF 61 USS BOXER CV 21                             0  0                 0
VF 64 USS BOXER CV 21                             0  0                 0
VF 821 USS PRINCETON CV 37                        0  0                 0
VF 874                                            0  0                 1
VMF 323 MAG 12                                    0  0                 1
VP 772 PATROL BOMB SQ                             1  0                 0
WPNS CO 1                                         0  0                 3
WPNS CO 1 BN 1 MAR 1 MAR DIV                      3  0                 7
WPNS CO 1 BN 5 MAR 1 MAR DIV                      4  0                27
WPNS CO 1 BN 7 MAR 1 MAR DIV                      4  0                18
WPNS CO 2                                         0  0                 2
WPNS CO 2 BN 1 MAR 1 MAR DIV                      2  0                15
WPNS CO 2 BN 5 MAR 1 MAR DIV                      2  0                25
WPNS CO 2 BN 7 MAR 1 MAR DIV                      2  0                18
WPNS CO 3                                         0  0                10
WPNS CO 3 BN 1 MAR 1 MAR DIV                      6  0                26
WPNS CO 3 BN 5 MAR 1 MAR DIV                      3  0                14
WPNS CO 3 BN 7 MAR 1 MAR DIV                      5  0                17

FATALITY                             PRESUMED DEAD
DIVISION
 5 CAV                                           0
1 4.5 ROCKET BTRY 1 4.5 ROCKET BN F              0
1 ABN RANGER CO                                  0
1 AIR DEL PLAT CMBT SERV CMD 1 MAR               0
1 AMPH TRAC BN FMF PAC                           0
1 AMPH TRUCK CO FMF PAC                          0
1 ANGLCO FMF PAC                                 0
1 BN 1 MAR 1 MAR DIV                             0
1 BN 11 MAR 1 MAR DIV                            0
1 BN 5 MAR 1 MAR DIV                             0
1 BN 7 MAR 1 MAR DIV                             0
1 CAV DIV                                        0
1 CMBT SERV GR 1 MAR DIV                         0
1 ENGR BN 1 MAR DIV                              0
1 FA OBSN BN                                     0
1 FTR INTCP SQ                                   0
1 LOUDSP LEAF CO                                 0
1 MAR 1 MAR DIV                                  0
1 MAR AIR WING                                   0
1 MAR DIV                                        0
1 MAR DIV                                        0
1 MAR DIV 7 MTR TRANS BN B CO                    0
1 MAR DIV FMF                                    0
1 MAR WING SERV SQ                               0
1 MASTER GND CONT INT 2 MAR AIR CON              0
1 MED BN 1 MAR DIV                               0
1 MOTOR T                                        0
1 ORD BN 1 MAR DIV                               0
1 ORD BOMB DISP DET                              0
1 PROV CASUAL CO FMF PAC                         0
...                                            ...
USS ULVERT M MOORE DE 442                        0
USS UNION AKA 106                                0
USS VALLEY FORGE CV 45                           0
USS WALKE DD 723                                 0
USS WHETSTONE LSD 27                             0
USS WILTSIE DD 716                               0
VC 35 US NAVY                                    0
VCA DRT 44 N                                     0
VF 11 USS KEARSARGE CVS 33                       0
VF 172 USS ESSEX CV 9                            0
VF 192 USS PRINCETON  CV 37                      0
VF 54 USS ESSEX CV 9                             0
VF 61 USS BOXER CV 21                            0
VF 64 USS BOXER CV 21                            0
VF 821 USS PRINCETON CV 37                       0
VF 874                                           0
VMF 323 MAG 12                                   0
VP 772 PATROL BOMB SQ                            0
WPNS CO 1                                        0
WPNS CO 1 BN 1 MAR 1 MAR DIV                     0
WPNS CO 1 BN 5 MAR 1 MAR DIV                     0
WPNS CO 1 BN 7 MAR 1 MAR DIV                     0
WPNS CO 2                                        0
WPNS CO 2 BN 1 MAR 1 MAR DIV                     0
WPNS CO 2 BN 5 MAR 1 MAR DIV                     0
WPNS CO 2 BN 7 MAR 1 MAR DIV                     0
WPNS CO 3                                        0
WPNS CO 3 BN 1 MAR 1 MAR DIV                     0
WPNS CO 3 BN 5 MAR 1 MAR DIV                     0
WPNS CO 3 BN 7 MAR 1 MAR DIV                     0

[1798 rows x 7 columns]
ANSWER: 1 MAR DIV had most casualties

In [111]:
# Q5: Which Home state suffered the most losses?
state = dataframe['HOME_STATE']
print(dataframe.groupby(state).size())
print('ANSWER: California with 2582 losses')

HOME_STATE
AL                         9
ALABAMA                  691
ALASKA                    10
AMERICAN SAMOA             1
AR                         4
ARIZONA                  245
ARKANSAS                 463
AZ                         2
CA                        23
CALIFORNIA              2582
CANAL ZONE                 1
CO                         5
COLORADO                 299
CONNECTICUT              320
CT                         6
DELAWARE                  45
DISTRICT OF COLUMBIA     158
FL                        10
FLORIDA                  566
GA                         7
GEORGIA                  749
GUAM                       2
HAWAII                   394
HI                        11
IA                         5
ID                         2
IDAHO                    129
IL                        15
ILLINOIS                1771
IN                         6
                        ...
OR                         3
OREGON                   271
PA                        31
PENNSYLVANIA            2369
PR                         1
PUERTO RICO              763
RHODE ISLAND             146
RI                         3
SC                         5
SOUTH CAROLINA           478
SOUTH DAKOTA             159
TENNESSEE                837
TEXAS                   1752
TN                         6
TX                        23
US                        42
UT                         2
UTAH                     139
VA                         7
VERMONT                   94
VI                         2
VIRGIN ISLANDS            74
VIRGINIA                 874
WA                         8
WASHINGTON               476
WEST VIRGINIA            812
WI                         5
WISCONSIN                742
WV                         2
WYOMING                   60
Length: 105, dtype: int64
ANSWER: California with 2582 losses